<div class="categories">
    <div class="cat-nav">
        <div><a href="/contractor/dashboard" class="nav-link"   id="dashboard-link"           > Dashboard      </a></div>   
        <div><a href="/contractor/users"     class="nav-link"   id="user-management-link"     > View Users     </a></div>         
        <div><a href="/contractor/listings"  class="nav-link"   id="listings-management-link" > View Listing   </a></div>               
        <div><a href="/contractor/banners"   class="nav-link"   id="banner-management-link"   > View Banners   </a></div>             
        <div><a href="/contractor/analytics" class="nav-link"   id="analytics-link"           > Analytics      </a></div>             
    </div>
</div>