<div class="categories">
  <div class="cat-nav">
    <div class="cat-title">
      <h2>User Dashboard</h2>
    </div>
    <div>
      <a href="/user/dashboard">Profile</a>
    </div>
    <div>
      <a href="/user/cities">Your Cities</a>
    </div>
  </div>
  <%- include('banner-ad', {section: "a", number:1}); %>
</div>