<div class="header-nav">
    <a href="/"         class="nav-link" >Home</a>
    <a href="/latest"   class="nav-link" >Latest</a>
    <!-- <a href="/blog"     class="nav-link disabled" >Blog</a> -->
    <!-- <a href="/register" class="nav-link" >Add Your City</a> -->
    <a href="/howto"    class="nav-link" >How To</a>
    <!-- <a href="/support"  class="nav-link disabled" >Support</a> -->
    <a href="/advertise"class="nav-link" >Advertise</a>
    <a href="/contact"  class="nav-link" >Contact</a>
</div>