<div class="navbar-sticky">
    <div>
        <div class="logo">CityOnTop.com</div>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Latest</a>
            <a href="#">How To</a>
            <a href="#">Advertise</a>
            <a href="#">Contact</a>
        </div>
    </div>
</div>
