<!-- Modal for User Details -->
<div id="userModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>User Details</h2>
        <div id="modalUserDetails">
            <!-- User details will be populated here -->
        </div>
        <div class="modal-buttons" id="modalButtons"> 
        </div>
    </div>
</div>