<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Template", tag: "City On Top", isAdmin: false}); %>
<body>
    <%- include('partials/header', {session: session}); %>
    
    <div class="w-full layout-container lc-home">
        <div class="index-layout">
            <div class="categories">
            </div>
            <div class="body-container">
        
                <main class="index-content">
                    
                </main>
            </div> 
        </div>
        
        <div class="ctas space">
        </div>
    </div>

</body>
</html>
